In [1]:
%pip install pandas 
%pip install numpy

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
stavbe2019 = pd.read_csv(r"clean_GURS\new_prodaja2019.csv", sep=',', encoding='utf-8')
stavbe2019.head(10)

,ime_ko,naselje,letnica_izgradnje,m2_bruto,m2_neto,LETO,cena,novogradnja
0,BRINJE I,LJUBLJANA,2014,90.4,82.2,2019,329749.53,1.0
1,BRINJE I,LJUBLJANA,2014,84.6,77.2,2019,319119.22,1.0
2,MOSTE,LJUBLJANA,1985,42.8,36.4,2019,130000.00,NaN
3,ZGORNJA ŠIŠKA,LJUBLJANA,1960,57.5,54.2,2019,155000.00,NaN
4,ZGORNJA ŠIŠKA,LJUBLJANA,1964,69.4,56.8,2019,158000.00,NaN
5,BEŽIGRAD,LJUBLJANA,1932,37.8,37.8,2019,79500.00,NaN
6,VIČ,LJUBLJANA,2013,80.6,66.9,2019,162483.88,NaN
7,BRINJE I,LJUBLJANA,1966,26.1,25.1,2019,84000.00,NaN
8,NOVE JARŠE,LJUBLJANA,1981,63.4,54.7,2019,140000.00,NaN
9,MOSTE,LJUBLJANA,1985,74.3,64.3,2019,165000.00,NaN

In [4]:
stavbe2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ime_ko             3137 non-null   object
 1   naselje            3127 non-null   object
 2   letnica_izgradnje  3137 non-null   int64
 3   m2_bruto           3137 non-null   float64
 4   m2_neto            3137 non-null   float64
 5   LETO               3137 non-null   int64
 6   cena               3137 non-null   float64
 7   novogradnja        328 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 196.2+ KB

In [6]:
#preparing the year column for Power BI
stavbe2019['LETO'] = pd.to_datetime("2019-01-01")

In [7]:

# creating a boolean column 'NOVOGRADNJA_1' based on 'NOVOGRADNJA'
stavbe2019['novogradnja_1'] = stavbe2019['novogradnja'] == 1

# Preview the new column
stavbe2019[['novogradnja', 'novogradnja_1']].head(10)

   novogradnja  novogradnja_1
0          1.0           True
1          1.0           True
2          NaN          False
3          NaN          False
4          NaN          False
5          NaN          False
6          NaN          False
7          NaN          False
8          NaN          False
9          NaN          False

In [8]:
#Printing the number of rows with missing values in 'm2_neto' column
stavbe2019[stavbe2019['m2_neto'].isna()]

Empty DataFrame
Columns: [ime_ko, naselje, letnica_izgradnje, m2_bruto, m2_neto, LETO, cena, novogradnja, novogradnja_1]
Index: []

In [9]:
def oceni_sobnost(m2):
    if pd.isna(m2):
        return None
    if m2 < 35:
        return 1
    elif m2 < 50:
        return 2
    elif m2 < 70:
        return 3
    elif m2 < 90:
        return 4
    elif m2 < 110:
        return 5
    else:
        return 6

In [10]:
stavbe2019['sobnost_ocenjena'] = stavbe2019['m2_neto'].apply(oceni_sobnost)

In [11]:
stavbe2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ime_ko             3137 non-null   object
 1   naselje            3127 non-null   object
 2   letnica_izgradnje  3137 non-null   int64
 3   m2_bruto           3137 non-null   float64
 4   m2_neto            3137 non-null   float64
 5   LETO               3137 non-null   datetime64[ns]
 6   cena               3137 non-null   float64
 7   novogradnja        328 non-null    float64
 8   novogradnja_1      3137 non-null   bool
 9   sobnost_ocenjena   3137 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 223.8+ KB

In [12]:
# Droping the original 'NOVOGRADNJA' column, as we now have 'NOVOGRADNJA_1' which has the same information in a boolean format.
stavbe2019.drop(columns=['novogradnja'], inplace=True)

In [13]:
#Printing the number of rows with missing values in 'm2_neto' column
stavbe2019[stavbe2019['m2_neto'].isna()]

Empty DataFrame
Columns: [ime_ko, naselje, letnica_izgradnje, m2_bruto, m2_neto, LETO, cena, novogradnja_1, sobnost_ocenjena]
Index: []

In [14]:
stavbe2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ime_ko             3137 non-null   object
 1   naselje            3127 non-null   object
 2   letnica_izgradnje  3137 non-null   int64
 3   m2_bruto           3137 non-null   float64
 4   m2_neto            3137 non-null   float64
 5   LETO               3137 non-null   datetime64[ns]
 6   cena               3137 non-null   float64
 7   novogradnja_1      3137 non-null   bool
 8   sobnost_ocenjena   3137 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 199.3+ KB

In [15]:
# Uniforming the column names to lowercase
stavbe2019.columns = [col.lower() for col in stavbe2019.columns]

In [16]:
#uniforming the all values in all the columns to lowercase
for col in stavbe2019.columns:
    if stavbe2019[col].dtype == 'object':
        stavbe2019[col] = stavbe2019[col].str.lower()

In [17]:
stavbe2019['ime_ko'].unique()

array(['brinje i', 'moste', 'zgornja šiška', 'bežigrad', 'vič',
       'nove jarše', 'ajdovščina', 'šentvid nad ljubljano', 'stožice',
       'poljansko predmestje', 'slape', 'tabor', 'črnuče',
       'karlovško predmestje', 'spodnja šiška', 'štepanja vas', 'dravlje',
       'vižmarje', 'rašica', 'glince', 'stanežiče', 'gradišče ii',
       'dobrova', 'zelena jama', 'ljubljana mesto', 'trnovsko predmestje',
       'dobrunje', 'zadobrova', 'prule', 'gradišče i', 'gameljne',
       'udmat', 'šmartno pod šmarno goro', 'šmartno ob savi', 'golovec',
       'tacen', 'kašelj', 'šentpeter', 'ježica', 'sostro', 'bizovik',
       'podgorica', 'brdo', 'brinje ii', 'lipoglav', 'rudnik', 'volavlje',
       'nadgorica', 'krakovsko predmestje', 'šujica', 'podsmreka',
       'iška loka', 'podmolnik', 'tomišelj', 'trebeljevo', 'grič'],
      dtype=object)

In [18]:
# checking all the empty values in the 'naselje' column
stavbe2019[stavbe2019['naselje'].isna()]

,ime_ko,naselje,letnica_izgradnje,m2_bruto,m2_neto,leto,cena,novogradnja_1,sobnost_ocenjena
478,gameljne,NaN,1970,72.2,42.2,2019-01-01,70000.0,False,2
1875,udmat,NaN,1936,70.0,70.0,2019-01-01,40000.0,False,4
1919,poljansko predmestje,NaN,1895,64.2,39.0,2019-01-01,90000.0,False,2
2028,gameljne,NaN,2005,172.2,162.8,2019-01-01,145000.0,False,6
2276,trnovsko predmestje,NaN,1962,346.2,192.2,2019-01-01,700000.0,False,6
2561,spodnja šiška,NaN,1938,76.0,42.3,2019-01-01,70000.0,False,2
2802,gradišče ii,NaN,2017,332.5,254.2,2019-01-01,1410824.4,True,6
2815,gameljne,NaN,2005,172.2,162.8,2019-01-01,155000.0,False,6
2847,podgorica,NaN,1965,247.6,128.9,2019-01-01,215000.0,False,6
3112,glince,NaN,1984,276.0,0.0,2019-01-01,170000.0,False,1

In [19]:
# changing all the empty values in the 'naselje' column to 'ljubljana'
stavbe2019['naselje'].fillna('ljubljana', inplace=True)

C:\Users\gaj\AppData\Local\Temp\ipykernel_11016\4036019775.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stavbe2019['naselje'].fillna('ljubljana', inplace=True)

In [21]:
stavbe2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ime_ko             3137 non-null   object
 1   naselje            3137 non-null   object
 2   letnica_izgradnje  3137 non-null   int64
 3   m2_bruto           3137 non-null   float64
 4   m2_neto            3137 non-null   float64
 5   leto               3137 non-null   datetime64[ns]
 6   cena               3137 non-null   float64
 7   novogradnja_1      3137 non-null   bool
 8   sobnost_ocenjena   3137 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 199.3+ KB

In [22]:
stavbe2019.to_csv(r"clean_GURS\stavbe2019_cleaned.csv", index=False, encoding='utf-8')