In [45]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
%pip install geopandas
import geopandas as gpd

Requirement already satisfied: geopandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.24 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (2.3.0)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (0.11.1)
Requirement already satisfied: packaging in c:\users\gaj\appdata\roaming\python\python311\site-packages (from geopandas) (25.0)
Requirement already satisfied: pandas>=2.0.0 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (2.3.0)
Requirement already satisfied: pyproj>=3.5.0 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from geopandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: certifi in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2025.4.26)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
df=gpd.read_file(r"ko.geojson")
print(type(df))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [48]:
df.head()

,gid,featureid,eid_katast,ko_id,naziv,sifko,datum_sys,geometry
0,1,1.013000e+17,101300000000005051,505,ČERMOŽIŠE,505,2025-01-09,"MULTIPOLYGON (((1753214.399 5824040.965, 17533..."
1,2,1.013000e+17,101300000000005069,506,ŽETALE,506,2025-07-17,"MULTIPOLYGON (((1757293.605 5825274.764, 17573..."
2,4,1.013000e+17,101300000000005085,508,ROŽENGRUNT,508,2025-01-31,"MULTIPOLYGON (((1760576.854 5889835.82, 176057..."
3,5,1.013000e+17,101300000000005093,509,ZGORNJA ŠČAVNICA,509,2025-07-03,"MULTIPOLYGON (((1759691.382 5887688.687, 17597..."
4,6,1.013000e+17,101300000000005101,510,SPODNJI DRAŽEN VRH,510,2025-05-09,"MULTIPOLYGON (((1757482.663 5887190.959, 17575..."

In [49]:
ko_id = pd.read_csv(r"ko_id.csv", sep=",", encoding="utf-8")
ko_id.head()

   SIFRA_KO                IME_KO
0      1772                 SLAPE
1      1727  POLJANSKO PREDMESTJE
2      1723                   VIČ
3      1737                 TABOR
4      1736              BRINJE I

In [50]:
df["ko_id"] = df["ko_id"].astype(str)
ko_id["SIFRA_KO"] = ko_id["SIFRA_KO"].astype(str)

In [51]:
data = pd.merge(df, ko_id, how="inner", left_on="ko_id", right_on="SIFRA_KO", suffixes=("", "_ko"))

In [52]:
#data.to_file(r"ko_joined.geojson", driver="GeoJSON")

In [53]:
stavbe = pd.read_csv(r"final_realestate_11082025.csv", sep=",", encoding="utf-8")

In [54]:
stavbe.head()

,mestna_cetrt,naselje,leto_izgradnje,total_m2,living_space,leto,cena,house_or_apartment,datum,novogradnja_1,is_apartment,sobnost_ocenjena,price_per_m2,day,month
0,moste,ljubljana,1957,"69,0","64,0",2014,"95000,0",2,2014-01-01,False,1,3,"1376,8115942028985",13,9
1,dravlje,ljubljana,1981,"251,0","207,0",2014,"261300,0",1,2014-01-01,False,0,6,"1041,0358565737051",13,1
2,zelena jama,ljubljana,1962,"55,0","54,0",2014,"90000,0",2,2014-01-01,False,1,3,"1636,3636363636365",10,10
3,nove jarše,ljubljana,1978,"61,0","53,0",2014,"75407,0",2,2014-01-01,False,1,3,"1236,1803278688524",24,7
4,prule,ljubljana,1963,"50,0","50,0",2014,"40000,0",2,2014-01-01,False,1,3,"800,0",15,8

In [55]:
data.sample(20)

,gid,featureid,eid_katast,ko_id,naziv,sifko,datum_sys,geometry,SIFRA_KO,IME_KO
35,1609,1.013000e+17,101300000000017718,1771,ZADOBROVA,1771,2025-05-13,"MULTIPOLYGON (((1621621.557 5792528.307, 16216...",1771,ZADOBROVA
50,1804,1.013000e+17,101300000000026818,2681,BRINJE II,2681,2025-04-16,"MULTIPOLYGON (((1617612.803 5791231.882, 16176...",2681,BRINJE II
31,1572,1.013000e+17,101300000000017551,1755,GLINCE,1755,2025-05-09,"MULTIPOLYGON (((1603959.591 5793403.423, 16039...",1755,GLINCE
24,1545,1.013000e+17,101300000000017346,1734,JEŽICA,1734,2025-03-29,"MULTIPOLYGON (((1611566.318 5797049.198, 16116...",1734,JEŽICA
46,1800,1.013000e+17,101300000000026776,2677,PRULE,2677,2025-02-03,"MULTIPOLYGON (((1614856.637 5787342.632, 16148...",2677,PRULE
8,1507,1.013000e+17,101300000000017536,1753,VIŽMARJE,1753,2025-03-17,"MULTIPOLYGON (((1607032.688 5795368.579, 16070...",1753,VIŽMARJE
22,1544,1.013000e+17,101300000000017338,1733,BIZOVIK,1733,2025-06-19,"MULTIPOLYGON (((1618793.469 5786484.853, 16187...",1733,BIZOVIK
19,1542,1.013000e+17,101300000000017312,1731,UDMAT,1731,2025-08-01,"MULTIPOLYGON (((1616454.475 5789825.293, 16164...",1731,UDMAT
44,1616,1.013000e+17,101300000000017783,1778,VOLAVLJE,1778,2025-02-12,"MULTIPOLYGON (((1629849.151 5790563.961, 16298...",1778,VOLAVLJE
6,1505,1.013000e+17,101300000000017510,1751,TACEN,1751,2025-05-13,"MULTIPOLYGON (((1607896.234 5799812.743, 16079...",1751,TACEN
42,1614,1.013000e+17,101300000000017767,1776,LIPOGLAV,1776,2025-03-12,"MULTIPOLYGON (((1626791.942 5780638.324, 16268...",1776,LIPOGLAV
13,1533,1.013000e+17,101300000000017221,1722,TRNOVSKO PREDMESTJE,1722,2025-05-22,"MULTIPOLYGON (((1606943.146 5778575.614, 16069...",1722,TRNOVSKO PREDMESTJE
16,1539,1.013000e+17,101300000000017288,1728,LJUBLJANA MESTO,1728,2025-02-05,"MULTIPOLYGON (((1614422.325 5787761.461, 16144...",1728,LJUBLJANA MESTO
27,1549,1.013000e+17,101300000000017387,1738,DRAVLJE,1738,2025-07-16,"MULTIPOLYGON (((1608949.347 5790165.883, 16089...",1738,DRAVLJE
33,1576,1.013000e+17,101300000000017593,1759,PODGORICA,1759,2025-05-20,"MULTIPOLYGON (((1621209.222 5794385.507, 16212...",1759,PODGORICA
29,1551,1.013000e+17,101300000000017403,1740,SPODNJA ŠIŠKA,1740,2025-06-26,"MULTIPOLYGON (((1611347.266 5790534.194, 16113...",1740,SPODNJA ŠIŠKA
7,1506,1.013000e+17,101300000000017528,1752,STANEŽIČE,1752,2025-04-09,"MULTIPOLYGON (((1604736.976 5795253.624, 16047...",1752,STANEŽIČE
10,1536,1.013000e+17,101300000000017254,1725,AJDOVŠČINA,1725,2025-06-26,"MULTIPOLYGON (((1612478.209 5789634.732, 16125...",1725,AJDOVŠČINA
43,1615,1.013000e+17,101300000000017775,1777,JAVOR,1777,2025-04-18,"MULTIPOLYGON (((1628915.932 5789254.347, 16289...",1777,JAVOR
20,1537,1.013000e+17,101300000000017262,1726,ŠENTPETER,1726,2025-05-23,"MULTIPOLYGON (((1616261.917 5788609.134, 16162...",1726,ŠENTPETER

In [56]:
data['naziv'].unique()

array(['KARLOVŠKO PREDMESTJE', 'IŠKA LOKA', 'TOMIŠELJ', 'RUDNIK',
       'GAMELJNE', 'ŠMARTNO POD ŠMARNO GORO', 'TACEN', 'STANEŽIČE',
       'VIŽMARJE', 'ŠENTVID NAD LJUBLJANO', 'AJDOVŠČINA',
       'KRAKOVSKO PREDMESTJE', 'GRADIŠČE I', 'TRNOVSKO PREDMESTJE', 'VIČ',
       'POLJANSKO PREDMESTJE', 'LJUBLJANA MESTO', 'ŠMARTNO OB SAVI',
       'MOSTE', 'UDMAT', 'ŠENTPETER', 'ŠTEPANJA VAS', 'BIZOVIK',
       'BRINJE I', 'JEŽICA', 'STOŽICE', 'TABOR', 'DRAVLJE',
       'ZGORNJA ŠIŠKA', 'SPODNJA ŠIŠKA', 'RAŠICA', 'GLINCE', 'NADGORICA',
       'PODGORICA', 'ČRNUČE', 'ZADOBROVA', 'KAŠELJ', 'SLAPE', 'DOBRUNJE',
       'TREBELJEVO', 'PODMOLNIK', 'SOSTRO', 'LIPOGLAV', 'JAVOR',
       'VOLAVLJE', 'ZELENA JAMA', 'PRULE', 'GOLOVEC', 'GRADIŠČE II',
       'NOVE JARŠE', 'BRINJE II', 'BRDO', 'GRIČ', 'BEŽIGRAD', 'ŠUJICA',
       'DOBROVA', 'PODSMREKA'], dtype=object)

In [57]:
stavbe['mestna_cetrt'].unique()

array(['moste', 'dravlje', 'zelena jama', 'nove jarše', 'prule',
       'ljubljana mesto', 'štepanja vas', 'stožice', 'vižmarje',
       'bežigrad', 'kašelj', 'vič', 'zgornja šiška', 'ježica', 'tacen',
       'slape', 'karlovško predmestje', 'poljansko predmestje', 'tabor',
       'šentvid nad ljubljano', 'gradišče ii', 'gameljne', 'glince',
       'trnovsko predmestje', 'brinje i', 'ajdovščina', 'črnuče',
       'spodnja šiška', 'šujica', 'lipoglav', 'šentpeter', 'dobrova',
       'dobrunje', 'rudnik', 'nadgorica', 'udmat', 'brdo', 'zadobrova',
       'brinje ii', 'gradišče i', 'šmartno ob savi', 'stanežiče', 'javor',
       'volavlje', 'bizovik', 'golovec', 'šmartno pod šmarno goro',
       'krakovsko predmestje', 'sostro', 'podgorica', 'iška loka',
       'podmolnik', 'tomišelj', 'podsmreka', 'rašica', 'grič',
       'trebeljevo'], dtype=object)

In [58]:
nepremicnine = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\nepremicnine_scrape\nepremicnine_06082025.csv", sep=";", encoding="utf-8")

In [59]:
nepremicnine.sample(5)

,cena,mestna_cetrt,sobnost_ocenjena,naselje,leto_izgradnje,total_m2,is_apartment,novogradnja_1,leto,price_per_m2
691,"245000,0",sostro,"3,0",sneberje,"1965,0","71,6",1,False,2025,"3421,787709497207"
248,"325000,0",center,"3,0",center,"1962,0","63,1",1,False,2025,"5150,5546751188585"
853,"635000,0",črnuče,"6,0",črnuče,"1973,0","271,0",0,False,2025,"2343,17"
87,"105000,0",dravlje,"0,5",dravlje,"1983,0","19,22",1,False,2025,"5463,059313215401"
68,"190000,0",črnuče,"3,0",črnuče,"2022,0","70,0",1,False,2025,"2714,285714285714"

In [60]:
nepremicnine['mestna_cetrt'] = nepremicnine['mestna_cetrt'].str.upper()

In [ ]:
nepremicnine['mestna_cetrt1'].unique()

In [ ]:
nepremicnine[nepremicnine['mestna_cetrt1'].isna()]

In [ ]:
zemljevid = ['KARLOVŠKO PREDMESTJE', 'IŠKA LOKA', 'TOMIŠELJ', 'RUDNIK',
       'GAMELJNE', 'ŠMARTNO POD ŠMARNO GORO', 'TACEN', 'STANEŽIČE',
       'VIŽMARJE', 'ŠENTVID NAD LJUBLJANO', 'AJDOVŠČINA',
       'KRAKOVSKO PREDMESTJE', 'GRADIŠČE I', 'TRNOVSKO PREDMESTJE', 'VIČ',
       'POLJANSKO PREDMESTJE', 'LJUBLJANA MESTO', 'ŠMARTNO OB SAVI',
       'MOSTE', 'UDMAT', 'ŠENTPETER', 'ŠTEPANJA VAS', 'BIZOVIK',
       'BRINJE I', 'JEŽICA', 'STOŽICE', 'TABOR', 'DRAVLJE',
       'ZGORNJA ŠIŠKA', 'SPODNJA ŠIŠKA', 'RAŠICA', 'GLINCE', 'NADGORICA',
       'PODGORICA', 'ČRNUČE', 'ZADOBROVA', 'KAŠELJ', 'SLAPE', 'DOBRUNJE',
       'TREBELJEVO', 'PODMOLNIK', 'SOSTRO', 'LIPOGLAV', 'JAVOR',
       'VOLAVLJE', 'ZELENA JAMA', 'PRULE', 'GOLOVEC', 'GRADIŠČE II',
       'NOVE JARŠE', 'BRINJE II', 'BRDO', 'GRIČ', 'BEŽIGRAD', 'ŠUJICA',
       'DOBROVA', 'PODSMREKA']

navadn = ['MOSTE', 'DRAVLJE', 'ZELENA JAMA', 'NOVE JARŠE', 'PRULE',
       'LJUBLJANA MESTO', 'ŠTEPANJA VAS', 'STOŽICE', 'VIŽMARJE',
       'BEŽIGRAD', 'KAŠELJ', 'VIČ', 'ZGORNJA ŠIŠKA', 'JEŽICA', 'TACEN',
       'SLAPE', 'KARLOVŠKO PREDMESTJE', 'POLJANSKO PREDMESTJE', 'TABOR',
       'ŠENTVID NAD LJUBLJANO', 'GRADIŠČE II', 'GAMELJNE', 'GLINCE',
       'TRNOVSKO PREDMESTJE', 'BRINJE I', 'AJDOVŠČINA', 'ČRNUČE',
       'SPODNJA ŠIŠKA', 'ŠUJICA', 'LIPOGLAV', 'ŠENTPETER', 'DOBROVA',
       'DOBRUNJE', 'RUDNIK', 'NADGORICA', 'UDMAT', 'BRDO', 'ZADOBROVA',
       'BRINJE II', 'GRADIŠČE I', 'ŠMARTNO OB SAVI', 'STANEŽIČE', 'JAVOR',
       'VOLAVLJE', 'BIZOVIK', 'GOLOVEC', 'ŠMARTNO POD ŠMARNO GORO',
       'KRAKOVSKO PREDMESTJE', 'SOSTRO', 'PODGORICA', 'IŠKA LOKA',
       'PODMOLNIK', 'TOMIŠELJ', 'PODSMREKA', 'RAŠICA', 'GRIČ',
       'TREBELJEVO']

neprem = ['BEŽIGRAD', 'ČRNUČE', 'DRAVLJE', 'CENTER', 'MOSTE', 'ŠIŠKA',
       'JARŠE', 'ROŽNIK', 'RUDNIK', 'ŠENTVID', 'SOSTRO', 'VIČ', 'POSAVJE',
       'TRNOVO', 'POLJE', 'ŠMARNA GORA', 'GOLOVEC', 'MOSTE-POLJE',
       'SOSTR']

In [62]:
kraj_to_mestna_cetrt = {
    'CENTER': 'LJUBLJANA MESTO',
    'JARŠE': 'NOVE JARŠE',
    'MOSTE-POLJE': 'SLAPE',
    'POSAVJE': 'JEŽICA',
    'ROŽNIK': 'DOBROVA',
    'SOSTR': 'SOSTRO',
    'TRNOVO': 'TRNOVSKO PREDMESTJE',
    'ŠENTVID': 'ŠENTVID NAD LJUBLJANO',
    'ŠMARNA GORA': 'ŠMARTNO POD ŠMARNO GORO',
    'ŠIŠKA': 'SPODNJA ŠIŠKA', 
}

In [ ]:
# quick check
set(zemljevid) == set(neprem)  # -> True

# show non-matching (will both be empty lists here)
only_in_data = sorted(set(zemljevid) - set(neprem))
only_in_stavbe = sorted(set(neprem) - set(zemljevid))
print("only_in_data:", only_in_data)
print("only_in_stavbe:", only_in_stavbe)

In [ ]:
stavbe['mestna_cetrt'] = stavbe['mestna_cetrt'].str.upper()

In [ ]:
# 2) join (LEFT keeps all fact rows; use how="inner" if you only want matched rows)
merged = stavbe.merge(
    data[["ko_id", "naziv", "gid", "featureid", "geometry", "eid_katast", "sifko", "datum_sys"]],  # pick only what you need
    how="left",
    left_on="mestna_cetrt",
    right_on="naziv",
    validate="many_to_one",
    suffixes=("", "_ko")
)

In [ ]:
merged.sample(5)