In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
%pip install numpy
import numpy as np

Requirement already satisfied: numpy in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2014.csv", sep=",", encoding="utf-8",)
df1 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2015.csv", sep=",", encoding="utf-8",)
df2 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2016.csv", sep=",", encoding="utf-8",)
df3 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2017.csv", sep=",", encoding="utf-8",)
df4 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2018.csv", sep=",", encoding="utf-8",)
df5 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2019.csv", sep=",", encoding="utf-8",)
df6 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2020.csv", sep=",", encoding="utf-8",)
df7 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2021.csv", sep=",", encoding="utf-8",)
df8 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2022.csv", sep=",", encoding="utf-8",)
df9 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2023.csv", sep=",", encoding="utf-8",)
df0 = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\clean_GURS\new_prodaja2024.csv", sep=",", encoding="utf-8",)

In [3]:
# merge

# 1) Put them in a list
dfs = [df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df0]

# 2) Concatenate into one DataFrame
uncut_full_df = pd.concat(dfs, ignore_index=True)

# 3) (Optional) verify
print(uncut_full_df.shape)         # rows should equal sum of all individual dfs
print(uncut_full_df['LETO'].unique())  # you should see [2014, â€¦, 2024]

(31663, 9)
[2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [4]:
uncut_full_df.describe()

,leto_izgradnje,total_m2,living_space,LETO,cena,novogradnja,house_or_apartment
count,31663.000000,31663.000000,31619.000000,31663.000000,3.166100e+04,4576.000000,31663.000000
mean,1971.518207,80.513388,62.122069,2018.749424,1.751222e+05,0.938811,1.874206
std,48.331064,58.134560,36.661801,3.128953,1.775134e+05,0.239703,0.331622
min,23.000000,0.000000,0.000000,2014.000000,0.000000e+00,0.000000,1.000000
25%,1962.000000,46.000000,39.000000,2016.000000,9.400000e+04,1.000000,2.000000
50%,1975.000000,65.100000,56.000000,2019.000000,1.420000e+05,1.000000,2.000000
75%,1999.000000,92.000000,74.700000,2021.000000,2.140000e+05,1.000000,2.000000
max,2032.000000,1056.100000,677.000000,2024.000000,1.581056e+07,1.000000,2.000000

In [5]:
uncut_full_df['price_per_m2'] = uncut_full_df['cena'] / uncut_full_df['total_m2']

In [6]:
uncut_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31663 entries, 0 to 31662
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mestna_cetrt        31663 non-null  object
 1   naselje             31474 non-null  object
 2   leto_izgradnje      31663 non-null  int64
 3   total_m2            31663 non-null  float64
 4   living_space        31619 non-null  float64
 5   LETO                31663 non-null  int64
 6   cena                31661 non-null  float64
 7   novogradnja         4576 non-null   float64
 8   house_or_apartment  31663 non-null  int64
 9   price_per_m2        31661 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 2.4+ MB

In [9]:
#Printing the number of rows with missing values in 'm2_bruto' column
uncut_full_df[uncut_full_df['total_m2']== 0]

,mestna_cetrt,naselje,leto_izgradnje,total_m2,living_space,LETO,cena,novogradnja,house_or_apartment,price_per_m2
12147,PODGORICA,LJUBLJANA,1990,0.0,0.0,2017,291600.0,NaN,1,inf
30941,VOLAVLJE,ZGORNJA BESNICA,1989,0.0,0.0,2024,33000.0,NaN,1,inf

In [10]:
df[df['living_space'] == 0].count()

mestna_cetrt          45
naselje               43
leto_izgradnje        45
total_m2              45
living_space          45
LETO                  45
cena                  45
novogradnja            5
house_or_apartment    45
dtype: int64

In [11]:
df[df['living_space'].isna()].count()

mestna_cetrt          10
naselje               10
leto_izgradnje        10
total_m2              10
living_space           0
LETO                  10
cena                  10
novogradnja            0
house_or_apartment    10
dtype: int64

In [14]:
df['living_space'] = df['living_space'].replace(0, np.nan)

In [15]:
# filling missing values in 'm2_neto' using DataFrame syntax
df.fillna({'living_space': df['total_m2']}, inplace=True)

In [16]:
# checking all the zero values in the 'naselje' column and replacing them with NaN
df.loc[df['naselje'] == 0, 'naselje'] = np.nan

In [17]:
# checking all the empty values in the 'naselje' column
df[df['naselje'].isna()].count()

mestna_cetrt          20
naselje                0
leto_izgradnje        20
total_m2              20
living_space          20
LETO                  20
cena                  20
novogradnja            5
house_or_apartment    20
dtype: int64

In [18]:
# changing all the empty values in the 'naselje' column to 'ljubljana'
df.fillna({'naselje': 'ljubljana'}, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mestna_cetrt        3300 non-null   object
 1   naselje             3300 non-null   object
 2   leto_izgradnje      3300 non-null   int64
 3   total_m2            3300 non-null   int64
 4   living_space        3300 non-null   float64
 5   LETO                3300 non-null   int64
 6   cena                3300 non-null   int64
 7   novogradnja         606 non-null    float64
 8   house_or_apartment  3300 non-null   int64
dtypes: float64(2), int64(5), object(2)
memory usage: 232.2+ KB

In [21]:
df["newbuild"] = df["leto_izgradnje"] >= (df["LETO"] - 2)

In [22]:
# 1) Uniform column names
df.columns = df.columns.str.lower()

# 2) Identify all object-dtype columns
str_cols = df.select_dtypes(include="object").columns

# 3) Lowercase every value in those columns
df[str_cols] = df[str_cols].apply(lambda col: col.str.lower())

In [23]:
# prepareing area columns and price column for Power BI
uncut_full_df['total_m2'] = uncut_full_df['total_m2'].astype(str).str.replace('.', ',', regex=False)
uncut_full_df['living_space'] = uncut_full_df['living_space'].astype(str).str.replace('.', ',', regex=False)
uncut_full_df['cena'] = uncut_full_df['cena'].astype(str).str.replace('.', ',', regex=False)
uncut_full_df['price_per_m2'] = uncut_full_df['price_per_m2'].astype(str).str.replace('.', ',', regex=False)

In [24]:
uncut_full_df.to_csv(r"uncut_full_realestate.csv", index=False, encoding="utf-8", sep=",")