In this file we are sorting a minor problem, which was not.

In [1]:
%pip install pandas 
import pandas as pd

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv(r"D:\projects_Sara\analysis_real_estate_LJ\nepremicnine_scrape\nepremicnine_06082025.csv", sep=";", encoding="utf-8")

In [6]:
df.sample(5)

,cena,mestna_cetrt,sobnost_ocenjena,naselje,leto_izgradnje,total_m2,is_apartment,novogradnja_1,leto,price_per_m2
900,"2800000,0",BEŽIGRAD,"6,0",bežigrad,"2007,0","777,5",0,False,2025,"3601,29"
58,"360000,0",JARŠE,"5,0",bs 3,"1981,0","81,0",1,False,2025,"4444,444444444444"
325,"970000,0",CENTER,"4,0",center,"1886,0","181,2",1,False,2025,"5353,200883002208"
866,"360000,0",DRAVLJE,"6,0",dravlje,"1830,0","136,3",0,False,2025,"2641,23"
871,"225000,0",MOSTE-POLJE,"2,0",fužine,"1920,0","48,0",0,False,2025,"4687,5"

In [5]:
df['mestna_cetrt'] = df['mestna_cetrt'].str.upper()

In [7]:
df['mestna_cetrt'].unique()

array(['BEŽIGRAD', 'ČRNUČE', 'DRAVLJE', 'CENTER', 'MOSTE', 'ŠIŠKA',
       'JARŠE', 'ROŽNIK', 'RUDNIK', 'ŠENTVID', 'SOSTRO', 'VIČ', 'POSAVJE',
       'TRNOVO', 'POLJE', 'ŠMARNA GORA', 'GOLOVEC', 'MOSTE-POLJE',
       'SOSTR'], dtype=object)

In [8]:
df['mestna_cetrt'] = df['mestna_cetrt'].replace({
    'CENTER': 'LJUBLJANA MESTO',
    'JARŠE': 'NOVE JARŠE',
    'MOSTE-POLJE': 'SLAPE',
    'POSAVJE': 'JEŽICA',
    'ROŽNIK': 'DOBROVA',
    'SOSTR': 'SOSTRO',
    'TRNOVO': 'TRNOVSKO PREDMESTJE',
    'ŠENTVID': 'ŠENTVID NAD LJUBLJANO',
    'ŠMARNA GORA': 'ŠMARTNO POD ŠMARNO GORO',
    'ŠIŠKA': 'SPODNJA ŠIŠKA',
})

In [9]:
df['mestna_cetrt'].unique()

array(['BEŽIGRAD', 'ČRNUČE', 'DRAVLJE', 'LJUBLJANA MESTO', 'MOSTE',
       'SPODNJA ŠIŠKA', 'NOVE JARŠE', 'DOBROVA', 'RUDNIK',
       'ŠENTVID NAD LJUBLJANO', 'SOSTRO', 'VIČ', 'JEŽICA',
       'TRNOVSKO PREDMESTJE', 'POLJE', 'ŠMARTNO POD ŠMARNO GORO',
       'GOLOVEC', 'SLAPE'], dtype=object)

In [21]:
df.to_csv(r"D:\projects_Sara\analysis_real_estate_LJ\nepremicnine_scrape\nepremicnine_06082025_cleaned.csv", sep=";", encoding="utf-8", index=False)

In [19]:
df[df['naselje'] == 'koseze']

,cena,mestna_cetrt,sobnost_ocenjena,naselje,leto_izgradnje,total_m2,is_apartment,novogradnja_1,leto,price_per_m2
131,"319000,0",ZGORNJA ŠIŠKA,"2,0",koseze,"1978,0","56,0",1,False,2025,"5696,428571428572"
132,"299000,0",ZGORNJA ŠIŠKA,"3,0",koseze,"1968,0","63,8",1,False,2025,"4686,520376175549"
134,"299000,0",ZGORNJA ŠIŠKA,"3,0",koseze,"1968,0","63,8",1,False,2025,"4686,520376175549"
882,"680000,0",ZGORNJA ŠIŠKA,"6,0",koseze,"1976,0","205,0",0,False,2025,"3317,07"
883,"490000,0",ZGORNJA ŠIŠKA,"5,0",koseze,"1925,0","106,2",0,False,2025,"4613,94"
884,"584000,0",ZGORNJA ŠIŠKA,"6,0",koseze,"1974,0","220,0",0,False,2025,"2654,55"
885,"585000,0",ZGORNJA ŠIŠKA,"6,0",koseze,"1974,0","255,0",0,False,2025,"2294,12"
957,"490000,0",ZGORNJA ŠIŠKA,"5,0",koseze,"1925,0","106,9",0,False,2025,"4583,72"

In [18]:
# checking all the zero values in the 'naselje' column and replacing them with NaN
df.loc[df['naselje'] == 'koseze', 'mestna_cetrt'] = 'ZGORNJA ŠIŠKA'