In [1]:
%pip install pandas
%pip install matplotlib

Requirement already satisfied: pandas in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.58.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\gaj\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\gaj\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_1 = pd.read_csv('ETN_SLO_2007_KPP_KPP_DELISTAVB_20250615.csv', sep=',')

In [4]:
deli_stavb = pd.DataFrame(df_1)

In [5]:
pd.options.display.max_columns
pd.options.display.max_rows

60

In [6]:
deli_stavb.head()

,ID_POSLA,SIFRA_KO,IME_KO,OBCINA,STEVILKA_STAVBE,STEVILKA_DELA_STAVBE,PARCELNA_STEVILKA_ZA_GEOLOKACIJO,INTERNA_OZNAKA_DELA_STAVBE,EVIDENTIRANOST_DELA_STAVBE,NASELJE,...,LEGA_DELA_STAVBE_V_STAVBI,STEVILO_SOB,POVRSINA_DELA_STAVBE,UPORABNA_POVRSINA,PROSTORI_DELA_STAVBE,POGODBENA_CENA_DELA_STAVBE,STOPNJA_DDV_DELA_STAVBE,E_CENTROID,N_CENTROID,LETO
0,-12848,660,STUDENCI,MARIBOR,4431,42.0,NaN,NaN,1,MARIBOR,...,NaN,0.0,18.2,18.2,NaN,NaN,NaN,547135.23,157255.62,2007
1,-12848,660,STUDENCI,MARIBOR,4431,3.0,NaN,NaN,1,MARIBOR,...,NaN,1.0,37.9,33.0,NaN,NaN,NaN,547135.23,157255.62,2007
2,-14568,1725,AJDOVŠČINA,LJUBLJANA,347,9.0,NaN,NaN,1,Ljubljana,...,NaN,3.0,104.7,94.7,NaN,NaN,NaN,461526.19,101686.51,2007
3,-14569,2636,BEŽIGRAD,LJUBLJANA,3403,81.0,NaN,NaN,1,LJUBLJANA,...,NaN,1.0,51.3,42.3,NaN,NaN,NaN,462872.81,102413.39,2007
4,-14979,2604,BERTOKI,KOPER,4202,4.0,NaN,NaN,1,Pobegi,...,NaN,2.0,57.3,41.0,NaN,NaN,NaN,406024.37,44945.33,2007

In [7]:
#deli_stavb = deli_stavb.drop(columns='PARCELNA_STEVILKA_ZA_GEOLOKACIJO')

In [8]:
df_2 = pd.read_csv('ETN_SLO_2007_KPP_KPP_POSLI_20250615.csv', sep=',')

In [9]:
df_2.head()

,ID_POSLA,VRSTA_KUPOPRODAJNEGA_POSLA,DATUM_UVELJAVITVE,DATUM_SKLENITVE_POGODBE,POGODBENA_CENA_ODSKODNINA,VKLJUCENOST_DDV,STOPNJA_DDV,DATUM_IZTEKA_LIZINGA,DATUM_PRENEHANJA_LIZINGA,OPOMBE_O_PRAVNEM_POSLU,POSREDOVANJE_NEPREMICNINSKE_AGENCIJE,DATUM_ZADNJE_SPREMEMBE_POSLA,DATUM_ZADNJE_UVELJAVITVE_POSLA,VRSTA_AKTA,TRZNOST_POSLA,LETO
0,-12890,1,09.02.2007,06.03.2007,155000.00,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,09.02.2007,1,4,2007
1,-12894,1,09.02.2007,22.01.2007,87630.00,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,09.02.2007,1,4,2007
2,-13408,1,26.02.2007,18.01.2007,41729.26,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,26.02.2007,1,4,2007
3,-15169,1,23.03.2007,12.03.2007,117240.00,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,23.03.2007,1,4,2007
4,-15191,1,26.03.2007,16.02.2007,728.83,0,NaN,NaN,NaN,Pravni posel je bil odobren z odločbo izdano ...,NaN,23.07.2015,26.03.2007,1,4,2007

In [10]:
kpp_posli = pd.DataFrame(df_2)

In [11]:
kpp_posli.head()

,ID_POSLA,VRSTA_KUPOPRODAJNEGA_POSLA,DATUM_UVELJAVITVE,DATUM_SKLENITVE_POGODBE,POGODBENA_CENA_ODSKODNINA,VKLJUCENOST_DDV,STOPNJA_DDV,DATUM_IZTEKA_LIZINGA,DATUM_PRENEHANJA_LIZINGA,OPOMBE_O_PRAVNEM_POSLU,POSREDOVANJE_NEPREMICNINSKE_AGENCIJE,DATUM_ZADNJE_SPREMEMBE_POSLA,DATUM_ZADNJE_UVELJAVITVE_POSLA,VRSTA_AKTA,TRZNOST_POSLA,LETO
0,-12890,1,09.02.2007,06.03.2007,155000.00,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,09.02.2007,1,4,2007
1,-12894,1,09.02.2007,22.01.2007,87630.00,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,09.02.2007,1,4,2007
2,-13408,1,26.02.2007,18.01.2007,41729.26,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,26.02.2007,1,4,2007
3,-15169,1,23.03.2007,12.03.2007,117240.00,0,NaN,NaN,NaN,NaN,NaN,23.07.2015,23.03.2007,1,4,2007
4,-15191,1,26.03.2007,16.02.2007,728.83,0,NaN,NaN,NaN,Pravni posel je bil odobren z odločbo izdano ...,NaN,23.07.2015,26.03.2007,1,4,2007

In [12]:
df_3 = pd.read_csv('ETN_SLO_2007_KPP_KPP_ZEMLJISCA_20250615.csv', sep=',')

In [13]:
kpp_zemlja = pd.DataFrame(df_3)

In [14]:
kpp_zemlja.head()

,ID_POSLA,SIFRA_KO,IME_KO,OBCINA,PARCELNA_STEVILKA,VRSTA_ZEMLJISCA,VRSTA_TRAJNEGA_NASADA,STAROST_TRAJNEGA_NASADA,PRODANI_DELEZ_PARCELE,OPOMBE_O_NEPREMICNINI,POVRSINA_PARCELE,POGODBENA_CENA_PARCELE,STOPNJA_DDV_PARCELE,E_CENTROID,N_CENTROID,LETO
0,-20565,168,DOLINA PRI LENDAVI,LENDAVA,926,10,NaN,NaN,1/1,NaN,454.0,NaN,NaN,615234.61,157529.00,2007
1,-20565,168,DOLINA PRI LENDAVI,LENDAVA,928,7,NaN,NaN,1/1,NaN,761.0,NaN,NaN,615262.08,157566.03,2007
2,-20565,168,DOLINA PRI LENDAVI,LENDAVA,1088,7,NaN,NaN,1/1,NaN,19.0,NaN,NaN,615147.90,157454.91,2007
3,-20565,168,DOLINA PRI LENDAVI,LENDAVA,927,7,NaN,NaN,1/1,NaN,749.0,NaN,NaN,615253.29,157547.66,2007
4,-20565,168,DOLINA PRI LENDAVI,LENDAVA,929,10,NaN,NaN,1/1,NaN,360.0,NaN,NaN,615169.63,157475.44,2007

In [15]:
frames=[deli_stavb, kpp_posli, kpp_zemlja]
merged = deli_stavb.merge(kpp_posli, on='ID_POSLA', how='outer')
df_2007= merged.merge(kpp_zemlja, on='ID_POSLA', how='outer')

In [16]:
df_2007.head()

,ID_POSLA,SIFRA_KO_x,IME_KO_x,OBCINA_x,STEVILKA_STAVBE,STEVILKA_DELA_STAVBE,PARCELNA_STEVILKA_ZA_GEOLOKACIJO,INTERNA_OZNAKA_DELA_STAVBE,EVIDENTIRANOST_DELA_STAVBE,NASELJE,...,VRSTA_TRAJNEGA_NASADA,STAROST_TRAJNEGA_NASADA,PRODANI_DELEZ_PARCELE,OPOMBE_O_NEPREMICNINI_y,POVRSINA_PARCELE,POGODBENA_CENA_PARCELE,STOPNJA_DDV_PARCELE,E_CENTROID_y,N_CENTROID_y,LETO
0,-183401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1/1,NaN,772.0,NaN,NaN,590641.51,174823.40,2007.0
1,-183401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1/1,NaN,4602.0,NaN,NaN,590607.23,174855.47,2007.0
2,-183401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1/1,NaN,1569.0,NaN,NaN,590635.29,174891.93,2007.0
3,-182191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1/1,NaN,538.0,NaN,NaN,591849.35,168243.93,2007.0
4,-167268,2490.0,POSTOJNA,POSTOJNA,2091.0,5.0,NaN,NaN,1.0,Postojna,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28622 entries, 0 to 28621
Data columns (total 69 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   ID_POSLA                                     28622 non-null  int64
 1   SIFRA_KO_x                                   22498 non-null  float64
 2   IME_KO_x                                     22498 non-null  object
 3   OBCINA_x                                     22498 non-null  object
 4   STEVILKA_STAVBE                              22498 non-null  float64
 5   STEVILKA_DELA_STAVBE                         22486 non-null  float64
 6   PARCELNA_STEVILKA_ZA_GEOLOKACIJO             0 non-null      float64
 7   INTERNA_OZNAKA_DELA_STAVBE                   0 non-null      float64
 8   EVIDENTIRANOST_DELA_STAVBE                   22498 non-null  float64
 9   NASELJE                                      15736 non-null  object
 10  ULICA                                        15680 non-null  object
 11  HISNA_STEVILKA                               15828 non-null  float64
 12  DODATEK_HS                                   3049 non-null   object
 13  STEVILKA_STANOVANJA_ALI_POSLOVNEGA_PROSTORA  14656 non-null  float64
 14  VRSTA_DELA_STAVBE                            20480 non-null  float64
 15  LETO_IZGRADNJE_DELA_STAVBE                   21472 non-null  float64
 16  STAVBA_JE_DOKONCANA                          22498 non-null  float64
 17  GRADBENA_FAZA                                1515 non-null   float64
 18  NOVOGRADNJA                                  22498 non-null  float64
 19  PRODANA_POVRSINA                             98 non-null     float64
 20  PRODANI_DELEZ_DELA_STAVBE                    21121 non-null  object
 21  PRODANA_POVRSINA_DELA_STAVBE                 20633 non-null  float64
 22  PRODANA_UPORABNA_POVRSINA_DELA_STAVBE        3030 non-null   float64
 23  NADSTROPJE_DELA_STAVBE                       8797 non-null   float64
 24  STEVILO_ZUNANJIH_PARKIRNIH_MEST              0 non-null      float64
 25  ATRIJ                                        0 non-null      float64
 26  POVRSINA_ATRIJA                              0 non-null      float64
 27  OPOMBE_O_NEPREMICNINI_x                      14167 non-null  object
 28  DEJANSKA_RABA_DELA_STAVBE                    18400 non-null  object
 29  LEGA_DELA_STAVBE_V_STAVBI                    0 non-null      float64
 30  STEVILO_SOB                                  3508 non-null   float64
 31  POVRSINA_DELA_STAVBE                         3545 non-null   float64
 32  UPORABNA_POVRSINA                            3542 non-null   float64
 33  PROSTORI_DELA_STAVBE                         0 non-null      float64
 34  POGODBENA_CENA_DELA_STAVBE                   0 non-null      float64
 35  STOPNJA_DDV_DELA_STAVBE                      0 non-null      float64
 36  E_CENTROID_x                                 22167 non-null  float64
 37  N_CENTROID_x                                 22167 non-null  float64
 38  LETO_x                                       22498 non-null  float64
 39  VRSTA_KUPOPRODAJNEGA_POSLA                   28622 non-null  int64
 40  DATUM_UVELJAVITVE                            28622 non-null  object
 41  DATUM_SKLENITVE_POGODBE                      28622 non-null  object
 42  POGODBENA_CENA_ODSKODNINA                    28622 non-null  float64
 43  VKLJUCENOST_DDV                              28622 non-null  int64
 44  STOPNJA_DDV                                  0 non-null      float64
 45  DATUM_IZTEKA_LIZINGA                         0 non-null      float64
 46  DATUM_PRENEHANJA_LIZINGA                     0 non-null      float64
 47  OPOMBE_O_PRAVNEM_POSLU                       8718 non-null   object
 48  POSREDOVANJE_NEPREMICNINSKE_AGENCIJE         0 non-null      float64
 49  DATUM_ZADNJE_SPREMEMBE_POSLA                 28622 non-null  object
 50  DATUM_ZADNJE_UVELJAVITVE_POSLA               28622 non-null  object
 51  VRSTA_AKTA                                   28622 non-null  int64
 52  TRZNOST_POSLA                                28622 non-null  int64
 53  LETO_y                                       28622 non-null  int64
 54  SIFRA_KO_y                                   25170 non-null  float64
 55  IME_KO_y                                     25170 non-null  object
 56  OBCINA_y                                     25170 non-null  object
 57  PARCELNA_STEVILKA                            25170 non-null  object
 58  VRSTA_ZEMLJISCA                              25170 non-null  float64
 59  VRSTA_TRAJNEGA_NASADA                        0 non-null      float64
 60  STAROST_TRAJNEGA_NASADA                      0 non-null      float64
 61  PRODANI_DELEZ_PARCELE                        25170 non-null  object
 62  OPOMBE_O_NEPREMICNINI_y                      6 non-null      object
 63  POVRSINA_PARCELE                             24928 non-null  float64
 64  POGODBENA_CENA_PARCELE                       0 non-null      float64
 65  STOPNJA_DDV_PARCELE                          0 non-null      float64
 66  E_CENTROID_y                                 13432 non-null  float64
 67  N_CENTROID_y                                 13432 non-null  float64
 68  LETO                                         25170 non-null  float64
dtypes: float64(45), int64(6), object(18)
memory usage: 15.1+ MB

In [18]:
#df_2007.to_csv('df_2007.csv')

In [21]:
df_clean.duplicated().sum()

np.int64(0)

In [20]:
df_clean = df_2007.drop_duplicates(subset='ID_POSLA', keep='last')

In [ ]:
#df_clean.to_csv('clean_2007.csv')

In [22]:
nov_df = pd.read_csv('clean_2_2007.csv')

In [23]:
nov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838 entries, 0 to 3837
Data columns (total 60 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   field1                                       3838 non-null   int64
 1   ID_POSLA                                     3838 non-null   int64
 2   SIFRA_KO_x                                   3838 non-null   float64
 3   IME_KO_x                                     3838 non-null   object
 4   OBCINA_x                                     3838 non-null   object
 5   STEVILKA_STAVBE                              3838 non-null   float64
 6   STEVILKA_DELA_STAVBE                         3836 non-null   float64
 7   EVIDENTIRANOST_DELA_STAVBE                   3838 non-null   float64
 8   NASELJE                                      3577 non-null   object
 9   ULICA                                        3777 non-null   object
 10  HISNA_STEVILKA                               3838 non-null   float64
 11  DODATEK_HS                                   617 non-null    object
 12  STEVILKA_STANOVANJA_ALI_POSLOVNEGA_PROSTORA  2574 non-null   float64
 13  VRSTA_DELA_STAVBE                            3801 non-null   float64
 14  LETO_IZGRADNJE_DELA_STAVBE                   3525 non-null   float64
 15  STAVBA_JE_DOKONCANA                          3838 non-null   float64
 16  GRADBENA_FAZA                                146 non-null    float64
 17  NOVOGRADNJA                                  3838 non-null   float64
 18  PRODANA_POVRSINA                             52 non-null     float64
 19  PRODANI_DELEZ_DELA_STAVBE                    3701 non-null   object
 20  PRODANA_POVRSINA_DELA_STAVBE                 3827 non-null   float64
 21  PRODANA_UPORABNA_POVRSINA_DELA_STAVBE        2043 non-null   float64
 22  NADSTROPJE_DELA_STAVBE                       223 non-null    float64
 23  OPOMBE_O_NEPREMICNINI_x                      319 non-null    object
 24  DEJANSKA_RABA_DELA_STAVBE                    1177 non-null   object
 25  LEGA_DELA_STAVBE_V_STAVBI                    0 non-null      float64
 26  STEVILO_SOB                                  2434 non-null   float64
 27  POVRSINA_DELA_STAVBE                         2453 non-null   float64
 28  UPORABNA_POVRSINA                            2450 non-null   float64
 29  E_CENTROID_x                                 3633 non-null   float64
 30  N_CENTROID_x                                 3633 non-null   float64
 31  LETO_x                                       3838 non-null   float64
 32  VRSTA_KUPOPRODAJNEGA_POSLA                   3838 non-null   int64
 33  DATUM_UVELJAVITVE                            3838 non-null   object
 34  DATUM_SKLENITVE_POGODBE                      3838 non-null   object
 35  POGODBENA_CENA_ODSKODNINA                    3838 non-null   float64
 36  STOPNJA_DDV                                  0 non-null      float64
 37  DATUM_IZTEKA_LIZINGA                         0 non-null      float64
 38  DATUM_PRENEHANJA_LIZINGA                     0 non-null      float64
 39  OPOMBE_O_PRAVNEM_POSLU                       767 non-null    object
 40  POSREDOVANJE_NEPREMICNINSKE_AGENCIJE         0 non-null      float64
 41  DATUM_ZADNJE_SPREMEMBE_POSLA                 3838 non-null   object
 42  DATUM_ZADNJE_UVELJAVITVE_POSLA               3838 non-null   object
 43  VRSTA_AKTA                                   3838 non-null   int64
 44  TRZNOST_POSLA                                3838 non-null   int64
 45  LETO_y                                       3838 non-null   int64
 46  SIFRA_KO_y                                   1397 non-null   float64
 47  IME_KO_y                                     1397 non-null   object
 48  OBCINA_y                                     1397 non-null   object
 49  PARCELNA_STEVILKA                            1397 non-null   object
 50  VRSTA_ZEMLJISCA                              1397 non-null   float64
 51  VRSTA_TRAJNEGA_NASADA                        0 non-null      float64
 52  STAROST_TRAJNEGA_NASADA                      0 non-null      float64
 53  PRODANI_DELEZ_PARCELE                        1397 non-null   object
 54  OPOMBE_O_NEPREMICNINI_y                      0 non-null      float64
 55  POVRSINA_PARCELE                             1387 non-null   float64
 56  POGODBENA_CENA_PARCELE                       0 non-null      float64
 57  E_CENTROID_y                                 239 non-null    float64
 58  N_CENTROID_y                                 239 non-null    float64
 59  LETO                                         1397 non-null   float64
dtypes: float64(37), int64(6), object(17)
memory usage: 1.8+ MB